<h3 class="ui header">{{t "forms.i-i-s-vika-специалист-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-vika-специалист-e.фИО-caption")
      data-test-i-i-s-vika-специалист-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-vika-специалист-e.номер-caption")
      data-test-i-i-s-vika-специалист-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-vika-специалист-e.телефон-caption")
      data-test-i-i-s-vika-специалист-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.электрПочта
      class=(if (v-get validationModel "электрПочта" "isInvalid") "error")
      label=(t "forms.i-i-s-vika-специалист-e.электрПочта-caption")
      data-test-i-i-s-vika-специалист-e-электрПочта=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "электрПочта" "message")}}
  </div>
</form>
